# Ignoriert automatisch generierte Konfigurationsdateien und Binärdateien von PyInstaller
# Wichtig: PyInstaller TOC-Dateien, da sie fälschlicherweise als TeX erkannt werden
*.toc linguist-generated=true
*.pyz linguist-generated=true
*.spec linguist-generated=true
*.pyz.toc linguist-generated=true

# Ignoriert den generierten 'build'-Ordner
/build/* linguist-generated=true

# Ignoriert den generierten 'dist'-Ordner
/dist/* linguist-generated=true

# Weitere Dateien, die ignoriert werden sollen, falls sie fälschlicherweise erkannt werden
*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true
